<header class='sub-header'>
  <div class='sub-top-contents'>
    <%= link_to "/" do %>
      <div class='sub-header-contents'>
        <%= image_tag "ramen-tour.jpg", class:'ramen-tour'%>
      </div>
    <% end %>
  </div>
</header>