<footer class='sub-footer'>
  <div class='footer-contents'>
    <%= link_to "/" do %>
      <div class='footer-logo-contents'>
        <%= image_tag "ramen-tour.jpg", class:'ramen-tour'%>
      </div>
    <% end %>
  </div>
</footer>